@import "tailwindcss";
@layer base{

  body {
  font-family: 'Josefin Sans';
  background-color: #FFFA;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}
}

@layer components{

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.hero-banner-img {
  border-radius: 60px;
  position: absolute;
  right: 40px;
  top: 0px;
  width: 600px;
  height: 700px;
  margin-top: -230px;

}
  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }
  .hero-banner-img {
    display: none;
  }
}



